/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: solid 1px red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 6rem;
  font-weight: bold;
}
h2 {
  font-size: 4.5rem;
  font-weight: bold;
}
h3 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.5rem;
  font-weight: bold;
}
h6 {
  font-size: 2rem;
}
.topnav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
}
header {
  padding: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/LandingPage1.jpg");
}
header p {
  font-size: 2.5rem;
  width: 60%;
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.purpose {
  padding: 15rem;
  display: flex;
  justify-content: center;
}
.purpose p {
  font-size: 2.5rem;
  width: 60%;
  margin: 2rem 0 2rem 0;
}
.purpose .landingpage-img2 {
  width: 50%;
}
.howitworks {
  margin: 15rem;
  display: flex;
  flex-direction: column;
}
.howitworks h2 {
  text-align: center;
}
.howitworks .howitworks-boxes {
  display: flex;
}
.howitworks .howitworks-boxes div {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 25%;
}
.howitworks .howitworks-boxes div p {
  font-size: 2rem;
  margin-top: 2rem;
}
