/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}
h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 5rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 5rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 4rem;
  }
}
h3 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
}
h6 {
  font-size: 2.5rem;
  font-weight: bold;
}
p {
  line-height: 3rem;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  p {
    font-size: 2rem;
  }
}
.topnav {
  background-color: #1f2a4c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0 2rem 0 2rem;
}
@media (max-width: 900px) {
  .topnav {
    font-size: 1.5rem;
  }
}
.topnav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.topnav #Search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.topnav #Search .searchinput {
  border-radius: 0.5rem;
  padding: 1rem;
}
.topnav #buttonNav {
  background-color: #7faecc;
  color: #1f2a4c;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Maven Pro', sans-serif;
}
@media (max-width: 900px) {
  .topnav #buttonNav {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #buttonNav {
    display: block;
  }
}
.topnav #FarmerPal {
  padding: 0;
}
@media (max-width: 500px) {
  .topnav #FarmerPal {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .topnav #Shop {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #Farms {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #Account {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #Search {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #cart-icon {
    display: none;
  }
}
@media (max-width: 500px) {
  .topnav #SignIn {
    display: none;
  }
}
.mobilenav {
  display: none;
}
@media (max-width: 500px) {
  .mobilenav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #d8e7ed;
  }
}
header {
  padding: 15rem 2rem 15rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(rgba(33, 36, 41, 0.45), rgba(33, 36, 41, 0.45)), url("img/LandingPage1.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;
}
@media (max-width: 500px) {
  header {
    padding: 10rem 2rem 10rem 2rem;
  }
}
header p {
  width: 50%;
  text-align: center;
  margin: 2rem 0 2rem 0;
}
@media (max-width: 500px) {
  header p {
    font-weight: normal;
    font-size: 2rem;
    width: 100%;
  }
}
header div {
  display: flex;
  justify-content: center;
}
header div input {
  background-color: white;
  color: black;
  padding: 1.2rem 5rem 1.2rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  width: 50%;
  border-radius: 1rem 0 0 1rem;
}
header div a {
  background-color: #f46032;
  color: white;
  padding: 1.2rem 5rem 1.2rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  width: 50%;
  text-align: center;
  border-radius: 0 1rem 1rem 0;
}
.purpose {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f2a4c;
}
.purpose div {
  width: 50%;
}
.purpose div p {
  margin: 4rem 0 4rem 0;
}
.purpose div .landingpage-img2 {
  width: 100%;
  border-radius: 1rem;
}
.purpose .purpose-text {
  margin-right: 3rem;
}
@media (max-width: 500px) {
  .purpose .purpose-text {
    width: 100%;
    margin: auto;
    order: 2;
  }
}
.purpose .purpose-img {
  width: 40%;
}
@media (max-width: 500px) {
  .purpose .purpose-img {
    width: 100%;
    order: 1;
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .purpose {
    padding: 10rem 2rem 10rem 2rem;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .purpose {
    padding: 10rem 1rem 10rem 1rem;
  }
}
.howitworks {
  padding: 7rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-image: url("img/split-background.png");
  background-size: cover;
}
.howitworks h2 {
  text-align: center;
}
.howitworks .howitworks-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}
.howitworks .howitworks-boxes div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
  width: 15%;
  padding: 3rem;
  background-color: #d8e7ed;
  color: #1f2a4c;
  border-radius: 1rem;
}
@media (max-width: 1000px) {
  .howitworks .howitworks-boxes div {
    width: 33%;
  }
}
.howitworks .howitworks-boxes div p {
  font-size: 2rem;
  margin-top: 2rem;
  font-family: 'Maven Pro', sans-serif;
}
.howitworks .howitworks-boxes div .icon {
  max-width: 40%;
  max-height: 30%;
  object-fit: contain;
  margin-bottom: 3rem;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 10rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  .howitworks .howitworks-boxes div .icon {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .howitworks .howitworks-boxes div {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .howitworks {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.review {
  padding: 10rem 15rem 10rem 15rem;
  display: flex;
  justify-content: center;
}
.review .outerDiv {
  display: flex;
  background-color: #F1F3F6;
  border-radius: 1rem;
  padding: 5rem;
  box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
}
.review .outerDiv .review-img {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 2rem;
}
.review .outerDiv .review-text {
  font-size: 2rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f2a4c;
}
@media (max-width: 500px) {
  .review .outerDiv .review-text {
    margin-left: 5rem;
  }
}
@media (max-width: 1000px) {
  .review .outerDiv .review-text {
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .review .outerDiv {
    max-width: inherit;
  }
}
@media (max-width: 500px) {
  .review {
    padding: 10rem 2rem 10rem 2rem;
  }
}
@media (max-width: 1000px) {
  .review {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.mission {
  padding: 10rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(33, 36, 41, 0.45), rgba(33, 36, 41, 0.45)), url("img/LandingPage3.jpg");
  background-size: cover;
}
.mission p {
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  width: 50%;
}
@media (max-width: 500px) {
  .mission p {
    width: 100%;
  }
}
.mission h2 {
  width: 50%;
}
@media (max-width: 500px) {
  .mission h2 {
    width: 100%;
  }
}
.mission div {
  display: flex;
  justify-content: center;
}
.mission div input {
  background-color: white;
  color: black;
  padding: 1.2rem 5rem 1.2rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  width: 50%;
  border-radius: 1rem 0 0 1rem;
}
.mission div a {
  background-color: #f46032;
  color: white;
  padding: 1.2rem 5rem 1.2rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 50%;
  border-radius: 0 1rem 1rem 0;
}
.bottomnavs {
  padding: 10rem 5rem 10rem 5rem;
  color: #1f2a4c;
  display: flex;
  justify-content: flex-start;
}
.bottomnavs div {
  display: flex;
  width: 100%;
}
.bottomnavs div nav {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.bottomnavs div nav a {
  text-decoration: none;
  color: grey;
  font-size: 2rem;
  padding-top: 1.5rem;
  font-family: 'Maven Pro', sans-serif;
}
@media (max-width: 500px) {
  .bottomnavs div {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .bottomnavs {
    padding: 10rem 2rem 10rem 2rem;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  color: grey;
  padding: 0 5rem 0 5rem;
  border-top: 1px solid #cccccc;
}
footer nav {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
footer nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: grey;
}
@media (max-width: 500px) {
  footer {
    padding: 0 2rem 0 2rem;
  }
}
