* {
  Box-sizing: border-box;
  Padding: 0 ;
  Margin: 0;
  Max-width: 100%;
}
.display {
  display: none;
}
.padding {
  padding: 15px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    max-width: 500px;
  }
}
.navigation .text {
  border: 1px solid #D8E7ED;
  box-sizing: border-box;
  border-radius: 20px;
}
body {
  background-color: #D3D3D3;
}
button {
  background: #7FAECC;
  border-radius: 8px;
  padding: 12px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: auto;
  margin: auto;
  padding-top: 30px;
  background: #1F2A4C;
}
nav a {
  text-decoration: none;
  color: #e6e6ff;
  font-size: 20px;
}
#banner {
  background: url("img/LandingPage1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 16em 0em 14em;
  text-align: center;
}
h1 {
  display: flex;
  align-items: center;
  font-size: 90px;
  margin: auto;
  margin-left: 25%;
  padding-top: 200px;
  color: white;
}
h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 20px;
}
p {
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  .boxes {
    display: flex;
    flex-direction: column;
  }
}
div.head-image img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  /* margin-top: 2%;
    width: 100%;
    height: 200px; */
}
.box1 {
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box2 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box3 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box4 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box5 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box6 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box7 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.box8 {
  padding: 20px;
  margin: 3px 2px;
  text-align: left;
  background-color: #D8E7ED;
  border-radius: 6px;
  width: 230px;
  height: 284px;
}
.navigation2 {
  padding: 8px 8px 8px 8px;
  color: #2F4F4F;
  display: flex;
  justify-content: flex-start;
}
.navigation2 div {
  display: flex;
  width: 100%;
}
.navigation2 div nav {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: white;
}
.navigation2 div nav a {
  text-decoration: none;
  color: grey;
  font-size: 15px;
  padding-top: 10px;
}
footer {
  color: grey;
  padding: 10px 10 px;
}
footer nav {
  font-size: 12px;
  margin-top: 10px;
  background-color: #D3D3D3;
}
footer nav a {
  margin-right: 20px;
  text-decoration: none;
  color: grey;
  font-size: 12px;
}
@media (max-width: 500px) {
  .navigation nav {
    width: 100%;
    max-width: 500px;
  }
  .navigation nav a.hidden {
    display: none;
  }
}
