html {
    font-size: 62.5%;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;

    @media @mobile {
        font-size: 4rem;
    }
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
    @media @mobile {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
}

h6 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    line-height: 3rem;

    font-size: 2.5rem;

    @media @mobile {
        font-size: 2rem;
    }

}
