header {
    padding: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("img/LandingPage1.jpg");


    p {
        font-size: 2.5rem;
        width: 60%;
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
}