header {
    padding: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("img/LandingPage1.jpg");
    //access the image to manually set width and height
    //maxwidth use % not pixels


    p {
        font-size: 2.5rem;
        width: 60%;
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
}

.purpose {
    padding: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: @darkblue;
    
    div {
        
        width:50%;

        p {
            font-size: 3.5rem;
            width: 60%;
            margin: 4rem 0 4rem 0; 
            line-height: 4.5rem;
        }
    
 

        .landingpage-img2 {
            width: 100%;
            border-radius: 1rem;
        }
    }


}

.howitworks {
    padding: 10rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: @darkblue;

    h2 {
        text-align: center;
    }

    .howitworks-boxes {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 5rem;

        div {
            display: flex;
            flex-direction: column;
            margin: 2rem;
            width: 15%;

            padding: 5rem;
            background-color: @lightlightblue;
            color: @darkblue;
            border-radius: 1rem;

            p {
                font-size: 2rem;
                margin-top: 2rem;
                font-family: 'Maven Pro', sans-serif;
            }

            .icon {
                width: 40%;
                height: 30%;
                
                border: 1px solid #000000;
                //border-radius: 10rem;
                padding: 1rem;

            }
            
            @media @mobile {
                width: 100%;
            }
        }


        @media @mobile {
            //flex-wrap: wrap;

  
           
        }
    }



}


//maybe add another div here to give the content a bigger box
.review {
    padding: 10rem 15rem 10rem 15rem;
    display: flex; 
    justify-content: center;
    

    div {
        
        margin: 1rem;
        width: 50%;
        padding: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: @darkblue;
        border-radius: 1rem;

        box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), 
        -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
        
        p {
            font-size: 2rem;
        }
    }

}

.mission {
    padding: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("img/LandingPage3.jpg");
    p {
        font-size: 2rem;
        margin: 2rem 0 2rem 0;
    }
}

.bottomnavs {
    padding: 10rem 15rem 10rem 15rem;
    color: @darkblue;
    display: flex;
    

    div {
        display: flex;
        width: 100%;

        nav {
            display: flex;
            flex-direction: column;
            width: 30%;
            a {
                text-decoration: none;
                color: grey;
                font-size: 2rem;
                padding-top: 1.5rem;
                font-family: 'Maven Pro', sans-serif;
            }
        }

    }

}

footer {
    color: grey;
    padding-left: 15rem;
    nav {
        font-size: 1.8rem;
    }
    
}