header {
    padding: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("img/LandingPage1.jpg");


    p {
        font-size: 2.5rem;
        width: 60%;
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
}

.purpose {
    padding: 15rem;

    display: flex;
    justify-content: center;

    
    p {
        font-size: 2.5rem;
        width: 60%;
        margin: 2rem 0 2rem 0; 
    }

    .landingpage-img2 {
        width: 50%;
    }
}

.howitworks {
    margin: 15rem;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    .howitworks-boxes {

        display: flex;

        div {
            display: flex;
            flex-direction: column;
            margin: 2rem;
            width: 25%;

            p {
                font-size: 2rem;
                margin-top: 2rem;
            }

        }
    }




}